<html th:replace="~{fragments/_layout::layout('Home Page', ~{::#naja}, null, null, ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Authors</li>
</ol>

<div id="naja">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Author Lists</h5>
            <a th:href="@{/authors/new}" class="btn  btn-sm btn-primary">+ Add New Author</a>
            <!-- Table with hoverable rows -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">bio</th>
                    <th scope="col">(action)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author: ${authors}" th:object="${author}">
                    <th scope="row" th:text="*{id}"></th>
                    <td><img th:src="*{imageUrl}" alt="NO PICTURE" style="width: 60px; height: 60px"/></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{surname}"></td>
                    <td th:text="${author.bio!=null && !author.bio.isBlank() ?
                    (author.bio.length()<50 ? author.bio : author.bio.substring(0,50)): '...'}"></td>
                    <td>
                        <a th:href="@{/authors/{id}/details(id=${author.id})}" class="btn btn-info btn-sm">Details</a>
                        <a th:href="@{/authors/{id}/edit(id=${author.id})}" class="btn btn-primary btn-sm">Edit</a>
                        <a th:href="@{/authors/{id}/delete(id=${author.id})}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Table with hoverable rows -->

        </div>
    </div>
</div>
</html>